profiles {
    minikube {

        process {
            container = 'quay.io/nextflow/bash'
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'k8s'
        }

        k8s {
            serviceAccount = 'nfkubelaunchersa'
            storageClaimName = 'nfkubevolumeclaim'
            storageMountPath = '/work'
        }
    }
}
