profiles {
    minikube {
        docker {
            enabled = true
            fixOwnership = true
        }

        process {
            container = 'quay.io/nextflow/bash'
            errorStrategy = 'retry'
            maxRetries = 3
        }

        k8s {
            storageClaimName = 'vol-claim'
            storageMountPath = '/mount/path'
            storageSubPath = '/my-data'
        }
    }
}
