profiles {
    minikube {

        // docker {
        //     enabled = true
        // }

        process {
            container = 'quay.io/nextflow/bash'
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'k8s'
        }

        k8s {
            storageClaimName = 'nfkubevolumeclaim'
            storageMountPath = '/work'
        }
    }
}
